.logout{
    float: right;
    margin-top: 17px;
}

.donate{
	margin-left: 28%;
}

.right{
	float: right;
}

.hidden{
	display: none;
}

.left-padding{
	 margin-left: -11px;
}
.container{
	margin-top: 4%;
}
.alert-success{
    color: #3c763d;
}